---
import HomeBlock from "../components/HomeBlock.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Lenis & GSAP Demo">
  <main>
    <HomeBlock />
    <div style="height:100dvh; position: relative; z-index: 10;"> Bloque Y</div>
  </main>
</Layout>

