---
---

<section class="home-hero">
  <div class="home-hero__scroller">
    <div class="home-hero__sticky">
      <video
        height="900"
        width="1600"
        playsinline=""
        muted=""
        loop=""
        controlslist="nodownload noplaybackrate"
        disablepictureinpicture=""
        src="https://player.vimeo.com/progressive_redirect/playback/1017272898/rendition/720p/file.mp4?loc=external&log_user=0&signature=d02d61e39102e10801a1316ce6ba75bc842b6f7008f05fe111b3cac233caf241"
      ></video>
    </div>
    <div aria-hidden="true" class="home-hero__layer acetate"></div>
    <div class="home-hero__wrapper">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        fill="currentColor"
        viewBox="0 0 1684 317"
        class="preloader__logo"
        ><g
          class="logo__line"
          data-svg-origin="0 158.29700088500977"
          transform="matrix(1,0,0,1,0,0)"
          style="translate: none; rotate: none; scale: none; transform-origin: 0px 0px;"
          ><path d="M1684 113.277v90.04H0v-90.04h1684Z"></path></g
        ><g class="logo__letter logo__letter--t" style="opacity: 1;"
          ><path
            class="logo__shape logo__shape--xy"
            d="M69.8047 0h95.9793v316.592H69.8047V0Z"
            data-svg-origin="117.79434967041016 158.29600524902344"
            transform="matrix(1,0,0,1,0,0)"
            style="translate: none; rotate: none; scale: none; transform-origin: 0px 0px;"
          ></path><path
            class="logo__shape logo__shape--xy"
            d="M235.586 0v90.0399H.001V0h235.585Z"
            data-svg-origin="117.79350335698109 45.01995086669922"
            transform="matrix(1,0,0,1,0,0)"
            style="translate: none; rotate: none; scale: none; transform-origin: 0px 0px;"
          ></path></g
        ><g class="logo__letter logo__letter--h" style="opacity: 1;"
          ><path
            class="logo__shape logo__shape--xy"
            d="M258.852 0h95.979v316.592h-95.979V0Z"
            data-svg-origin="306.84149169921875 158.29600524902344"
            transform="matrix(1,0,0,1,0,0)"
            style="translate: none; rotate: none; scale: none; transform-origin: 0px 0px;"
          ></path><path
            class="logo__shape logo__shape--xy"
            d="M415.907 0h95.979v316.592h-95.979V0Z"
            data-svg-origin="463.8965148925781 158.29600524902344"
            transform="matrix(1,0,0,1,0,0)"
            style="translate: none; rotate: none; scale: none; transform-origin: 0px 0px;"
          ></path></g
        ><g class="logo__letter logo__letter--e" style="opacity: 1;"
          ><path
            class="logo__shape logo__shape--xy"
            d="M535.156 0h95.979v316.592h-95.979V0Z"
            data-svg-origin="583.1455078125 158.29600524902344"
            transform="matrix(1,0,0,1,0,0)"
            style="translate: none; rotate: none; scale: none; transform-origin: 0px 0px;"
          ></path><path
            class="logo__shape logo__shape--y"
            d="M735.842 226.551v90.04H535.158v-90.04h200.684Z"
            data-svg-origin="635.5000305175781 271.5709991455078"
            transform="matrix(1,0,0,1,0,0)"
            style="translate: none; rotate: none; scale: none; transform-origin: 0px 0px;"
          ></path><path
            class="logo__shape logo__shape--y"
            d="M735.842 0v90.0399H535.158V0h200.684Z"
            data-svg-origin="635.5000305175781 45.01995086669922"
            transform="matrix(1,0,0,1,0,0)"
            style="translate: none; rotate: none; scale: none; transform-origin: 0px 0px;"
          ></path></g
        ><g class="logo__letter logo__letter--l" style="opacity: 1;"
          ><path
            class="logo__shape logo__shape--x"
            d="M852.18 0h95.979v316.592H852.18V0Z"
            data-svg-origin="900.1694946289062 158.29600524902344"
            transform="matrix(1,0,0,1,0,0)"
            style="translate: none; rotate: none; scale: none; transform-origin: 0px 0px;"
          ></path><path
            class="logo__shape logo__shape--y"
            d="M1035.41 226.551v90.04H852.177v-90.04h183.233Z"
            data-svg-origin="943.7935180664062 271.5709991455078"
            transform="matrix(1,0,0,1,0,0)"
            style="translate: none; rotate: none; scale: none; transform-origin: 0px 0px;"
          ></path></g
        ><g class="logo__letter logo__letter--i" style="opacity: 1;"
          ><path
            class="logo__shape logo__shape--xy"
            d="M1058.68 0h95.98v316.592h-95.98V0Z"
            data-svg-origin="1106.6700439453125 158.29600524902344"
            transform="matrix(1,0,0,1,0,0)"
            style="translate: none; rotate: none; scale: none; transform-origin: 0px 0px;"
          ></path></g
        ><g class="logo__letter logo__letter--n" style="opacity: 1;"
          ><path
            class="logo__shape logo__shape--xy"
            d="M1177.93 0h95.98v316.592h-95.98V0Z"
            data-svg-origin="1225.9200439453125 158.29600524902344"
            transform="matrix(1,0,0,1,0,0)"
            style="translate: none; rotate: none; scale: none; transform-origin: 0px 0px;"
          ></path><path
            class="logo__shape logo__shape--xy"
            d="M1177.93 0h95.98l186.14 316.592h-95.98L1177.93 0Z"
            data-svg-origin="1318.9900512695312 158.29600524902344"
            transform="matrix(1,0,0,1,0,0)"
            style="translate: none; rotate: none; scale: none; transform-origin: 0px 0px;"
          ></path><path
            class="logo__shape logo__shape--xy"
            d="M1364.07 0h95.98v316.592h-95.98V0Z"
            data-svg-origin="1412.0599365234375 158.29600524902344"
            transform="matrix(1,0,0,1,0,0)"
            style="translate: none; rotate: none; scale: none; transform-origin: 0px 0px;"
          ></path></g
        ><g class="logo__letter logo__letter--e" style="opacity: 1;"
          ><path
            class="logo__shape logo__shape--xy"
            d="M1483.31 0h95.98v316.592h-95.98V0Z"
            data-svg-origin="1531.300048828125 158.29600524902344"
            transform="matrix(1,0,0,1,0,0)"
            style="translate: none; rotate: none; scale: none; transform-origin: 0px 0px;"
          ></path><path
            class="logo__shape logo__shape--y"
            d="M1684 226.551v90.04h-200.68v-90.04H1684Z"
            data-svg-origin="1583.6600341796875 271.5709991455078"
            transform="matrix(1,0,0,1,0,0)"
            style="translate: none; rotate: none; scale: none; transform-origin: 0px 0px;"
          ></path><path
            class="logo__shape logo__shape--y"
            d="M1684 0v90.0399h-200.68V0H1684Z"
            data-svg-origin="1583.6600341796875 45.01995086669922"
            transform="matrix(1,0,0,1,0,0)"
            style="translate: none; rotate: none; scale: none; transform-origin: 0px 0px;"
          ></path></g
        ></svg
      >
    </div>
  </div>
</section>

<script>
  // import { gsap } from "gsap";

  document.addEventListener("astro:page-load", () => {
    window.gsap.to(".home-hero__layer, .home-hero__wrapper", {
      rotate: -10,
      x: -50,
      duration: 1,
      ease: "power2.out",
      transformOrigin: "bottom left",
      scrollTrigger: {
        trigger: ".home-hero",
        // markers: true,
        start: "top top",
        end: "bottom+=100% bottom",
        scrub: true,
        toggleActions: "play none none reverse",
        onLeave: () => {
          gsap.set(".home-hero__sticky", {
            position: "relative",
          });
        },
        onEnterBack: () => {
          gsap.set(".home-hero__sticky", {
            position: "sticky",
          });
        },
      },
    });
  })

</script>

<style>
  .home-hero {
    height: 200dvh;
    position: relative;
    width: 100%;
  }
  .home-hero__scroller {
    top: 0;
    right: 0;
    bottom: -100svh;
    left: 0;
    position: absolute;
  }
  .home-hero__sticky {
    height: 100lvh;
    overflow: hidden;
    position: sticky;
    top: 0;
  }
  .home-hero__sticky video {
    height: 100%;
    left: 0;
    object-fit: cover;
    position: absolute;
    top: 0;
    width: 100%;
  }
  .home-hero__layer {
    background-color: red;
    height: 100dvh;
    inset: 0;
    position: absolute;
    mix-blend-mode: multiply;
    width: 100%;
  }
  .home-hero__wrapper {
    align-items: flex-end;
    display: flex;
    height: 100dvh;
    position: absolute;
    top: 0;
    width: 100%;
  }
  .preloader__logo {
    padding: 0 20px 20px;
    fill: white;
    width: 100%;
    height: auto;
  }
</style>
